:root {
  --primary-color: #E8C00E;
  --secondary-color: #e08422;
  --tertiary-color: #e0842233;
  --light-color: #fff;
  --dark-color: #000;
  --font-size-sm: 1.5rem;
  --font-size-lg: 2.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Ubuntu", sans-serif;
}
body {
  height: 100vh;
  
}
header {
  width: 100%;
  background-color: var(--primary-color);
  padding: 2%;
  margin: 0 auto;
  
}
header h1{
  font-size: var(--font-size-lg);
}

header nav{
  display:flex;
  justify-content:space-between;
  align-items: center;

}
#busca{
  margin-right:20%
}
.icons-nav{
  display:flex;
}
.icons-nav li a{
  padding:10px;
}
.categorias{
  margin:5px 0px 5px 0px;
  background-color: var(--primary-color);
  padding-left: 2%;
}
.categorias ul{
  display:flex;
  justify-content:flex-start;
  align-items: center;
  gap: 5%;
}
.destaques {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
}

.destaques_lista {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.destaques_lista_elemento {

  width: 20%;
  height: 100%;
}

footer {
    width: 100%;
    background-color: var(--primary-color);
    padding: 5%;
    padding-bottom: 0%;
}

.rodape {
    background-color: var(--secondary-color);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.centralDeAtendimento {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}
.redesSociais {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}

#FormasDePagamento {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;

}

.iconesFormasDePagamento {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 
}

.iconesRedesSociais {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

#atalhosFooter {
  display: flex;
  flex-wrap: wrap;
 
}

#listafooter {
flex-direction: row;
}

.rodape{
  text-align: center;
}

#alinharFooter{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
