:root {
  --primary-color: #E8C00E;
  --secondary-color: #e08422;
  --tertiary-color: #e0842233;
  --light-color: #fff;
  --dark-color: #000;
  --font-size-sm: 1.5rem;
  --font-size-lg: 2.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Ubuntu", sans-serif;
}
main{
  height:1000px
}

header {
  background-color: var(--primary-color);
  padding: 2%;
  margin: 0 auto;
}

header h1{
  width: 200px;
  height: 80px;
  font-size: var(--font-size-lg);
  background-color: var(--secondary-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav{
  display: flex;
  /* justify-content:space-between;
  align-items: center; */
}

.search-box{
  position: absolute;
  left: 70px;
  top: 20px;
  font-weight: bold;
  width: 580px;
  height: 40px;
  border: 4px solid var(--secondary-color);
  background: #FFFFFF;
  opacity: 0.5;
}

.search-box-button {
  position: absolute;
  top: 27px;
  right: -140px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  font-size: 20px;
  font-weight: bold;
}

#busca{
  width: 500px;
  position: absolute;
  left: 300px;
  /* margin-right:20% */
}

.icons-nav{
  display: flex;
  position: absolute;
  right: 150px;
  top: 55px;
}

.icons-nav li a{
  padding:10px;
}
.categorias{
  margin: 5px auto;
  background-color: var(--primary-color);
  padding-left: 10px;
}

.categorias ul{
  display:flex;
  justify-content:flex-start;
  align-items: center;
  gap: 1%;
}

.categorias li{
  padding: 10px;
  font-weight: bold;
}
.categorias li:not(:last-child):after{
  content:'|';
  padding: 2px 4px;
  font-weight: bold;
  font-size:20px;
}

.destaques {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
}

.flexbox-itens{
  display: grid;
  place-items: center;
}
.destaques_lista {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.destaques_lista_elemento {
  width: 50px;
  height: 50px;
}


.footer {
  width: 1170px;
  height: 200px;
  background-color: var(--primary-color);
  padding: 5px;
  padding-bottom: 0%;
  margin: 5px auto;
}

.footer h5 {
  font-size: 25px;
}

.payment-methods {
  margin: 10px 0 0;
  display: flex;
  gap: 1%;
}

#atalhosFooter ul{
  display: flex;
  justify-content: center;
}

#atalhosFooter li {
  padding: 0px 5px;
}

#atalhosFooter a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.direitos-reservados {
  width: 1170px;
  height: 42px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.centralDeAtendimento {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}
.redesSociais {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}

#FormasDePagamento {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;

}

.iconesFormasDePagamento {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 
}

.iconesRedesSociais {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

#atalhosFooter {
  display: flex;
  flex-wrap: wrap;
 
}

#listafooter {
flex-direction: row;
}

.rodape{
  text-align: center;
}

#alinharFooter{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
