:root {
  --primary-color: #E8C00E;
  --secondary-color: #e08422;
  --tertiary-color: #e0842233;
  --light-color: #fff;
  --dark-color: #000;
  --font-size-sm: 1.5rem;
  --font-size-lg: 2.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Ubuntu", sans-serif;
}
main{
  height:500px
}

header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 2%;
  margin: 0 auto;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  font-size: var(--font-size-lg);
  background-color: var(--secondary-color);
  border-radius: 4px;

}

nav{
  display: flex;
  justify-content: space-evenly;
}
#busca{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left:2%;
  width: 1000px;

}

.search-box{
  width: 800px;
  border: 4px solid var(--secondary-color);
  background: #FFFFFF;
  opacity: 0.5;
}
.search-box-button{
  position: absolute;
  right: 815px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  font-size: 20px;
  font-weight: bold;
}

.icons-nav{
  display: flex;
  flex-wrap:wrap;
  position: absolute;
  right: 250px;
  top: 55px;
}
.icons-nav li{
  margin-left: 5px;
  
}
.icons-nav li a{
  border: 2px solid black;
  background: var(--secondary-color);
  padding:5px;
  color: black;
}
.icons-nav li a:hover{
  color: var(--light-color);
}
.categorias{
  margin: 5px auto;
  background-color: var(--primary-color);
  padding-left: 5px;
}

.categorias ul{
  display:flex;
  justify-content:flex-start;
  align-items: center;
  gap: 1%;
}

.categorias li{
  padding: 10px;
  font-weight: bold;
}
.categorias li:not(:last-child):after{
  content:'|';
  padding: 5px 5px;
  font-weight: bold;
  font-size:20px;
}
.categorias li a{
  text-decoration: none;
  color:#000
}

.destaques {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
}

.flexbox-itens{
  display: grid;
  place-items: center;
}
.destaques_lista {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.destaques_lista_elemento {
  width: 50px;
  height: 50px;
}


footer {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  padding: 5px;
  padding-bottom: 0%;
  margin: 0px auto;
}

footer h5 {
  display: grid;
  place-items: center;
  font-size: 25px;
}

.payment-methods {
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items: center;
  gap: 1%;
}
#atalhosFooter{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
}
#atalhosFooter ul{
  display: flex;
  justify-content: center;
}

#atalhosFooter li {
  padding: 0px 5px;
}

#atalhosFooter a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.direitos-reservados {
  width: 1170px;
  height: 42px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.centralDeAtendimento {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}
.redesSociais {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}

.iconesFormasDePagamento {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 
}

.iconesRedesSociais {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

#atalhosFooter {
  display: flex;
  flex-wrap: wrap;
 
}

#listafooter {
flex-direction: row;
}

.rodape{
  text-align: center;
}

#alinharFooter{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 480px) {

}