:root {
  --primary-color: #E8C00E;
  --secondary-color: #e08422;
  --tertiary-color: #e0842233;
  --light-color: #fff;
  --dark-color: #000;
  --font-size-sm: 1.5rem;
  --font-size-lg: 2.4rem;
}

* {
  margin: 0;
  padding: 0;
  /* border: solid 1px red; */
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Ubuntu", sans-serif;
  color: #000;
}


body {
  
  height: 150vh;
  
}



header {
  width: 100%;
  background-color: var(--primary-color);
  padding: 2%;
  margin: 0 auto;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  font-size: var(--font-size-lg);
  background-color: var(--secondary-color);
  border-radius: 4px;

}
.flex-nav{
  justify-content: flex-end;
}
.search-box{
  width: 70%;
  border: 4px solid var(--secondary-color);
  background: #FFFFFF;
  opacity: 0.5;
}
.input-nav{
  font-weight:bold;
  
}
.box-button{
  color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 20px;
  font-weight: bold;
}
.box-button:hover{
  color:var(--primary-color);
}

.categorias{
  margin: 5px auto;
  background-color: var(--primary-color);
  padding-left: 5px;
}
.categorias button{
  background-color: transparent;
  color:#000;
  border: none;
  margin-right: 50px;
  margin-left: 50px;
}

.categorias ul{
  align-items: center;
  gap: 1%;
}

.categorias li{
  padding: 10px;
  font-weight: bold;
}

.categorias li a{
  text-decoration: none;
  color:#000
}
.carrossel-principal{
  object-fit: cover;
  height:400px;
}
.destaques {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}
.frase_mais_vendidos {
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 5% 0 ;
}

.mais_vendidos {
  margin-bottom: 5%;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 20px;
  padding: 8px;
  display: flex;
}

.card_superior {
position: relative;
height: 120px;
width: 100%;
display: flex;
justify-content: space-between;
flex-direction: row;
}

.card_inferior {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.card-img-top {
  height: 120px;
}

.card_descricao {
  border: solid 1px var(--secondary-color);
  width: 175px;
  height: 120px;
}

.card_setas {
  margin-top: 3px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  height: 40px;
  width: 90px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.card_setas p {
  font-size: 20px;
  margin-top: 5px;
}

.geladeira {
  margin-top: 8px;
  width: 170px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.geladeira p {
  font-size: 16px;
  margin-top: 3px;
}

.flexbox-itens{
  display: grid;
  place-items: center;
}
.destaques_lista {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content: space-around;
}

.destaques_lista_elemento {
  border: solid 2px gray;
  margin: 5px 5px 30px;
  position: relative;
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items:center;
  text-align: center;
  
  height: 50%;
  width: 150px;
}

.destaques_lista_elemento_imagem {
  position: relative;
 height: 50%;
 width: auto;
 max-height: 100%;
}

.promocao-vip-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 30px;
}

.seja-vip {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.seja-vip h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0.05cm;
  padding-bottom: 30px;
}

.conteudo-seja-vip {
  background-color: var(--primary-color);
  width: 558px;
  height: 345px;
  padding-top: 30px;   
}

.conteudo-seja-vip h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.05cm;
}

.ul-li-seja-vip {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.conteudo-seja-vip li {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.saiba-mais-vip {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.conteudo-seja-vip a {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.div.botao-vip {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
}

.botao-assinar-vip {
  border-radius: 8px;
  background: var(--secondary-color);
  color: var(--dark-color);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  border: 0px;
  box-shadow: 0 4px 0 rgba (0 0 0 0);
  padding: 10px 60px 10px 60px;
  padding-top: 10px;    
}

.botao-assinar-vip:hover {
  box-shadow: 0px 0px 12px #e08422;
}

footer {
  background-color: var(--primary-color);
  color: var(--dark-color);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
}

.central-de-atendimento {
  padding-top: 5px;
}

.central-de-atendimento h5 {
  font-size: 24px;
  font-weight: 700;
}

.central-de-atendimento a {
  font-size: 24px;
  font-weight: 400;
  padding-top: 5px;
}

.redes-sociais {
  padding-top: 5px;
}

.redes-sociais h5 {
  font-size: 20px;
  font-weight: 700;
}

.icones-redes-sociais {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:flex-end;
  padding-top: 5px;
}

.icones-redes-sociais li {
  padding-left: 10px;
}

.formas-de-pagamento {
  padding-top: 14px;
}

.formas-de-pagamento h5 {
  font-size: 24px;
  font-weight: 700;
}

.formas-de-pagamento {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 10px;
}

.formas-de-pagamento ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.formas-de-pagamento li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 10px;
  font-size: 24px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 10px;
}

.atalhos-footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.atalhos-footer ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.atalhos-footer li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: 700;
}

.atalhos-footer li:not(:last-child)::after {
content:'|';
padding: 0px 10px;
font-size:20px;
}

.rodape {
  background-color: var(--secondary-color);
  text-align: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  width: auto;
  height: 42px;
  padding-top: 8px;
}

@media screen and(min-width: 576px) {
  .mais_vendidos {
  margin-bottom: 5%;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  }
}